.projects-listing-section {
  flex: 2;
  border: 1px green dashed;
}

.project-item {
  margin: 10px;
}

.project-select-button {
  border: none;
  background-color: white;
}

.project-select-button:hover {
  background-color: aqua;
}
.project-add-div {
  display: flex;
  align-items: center;
}

.project-add-div input:hover {
  background-color: skyblue;
}

.project-add-icon {
  margin-right: 5px;
}

.project-add-div input {
  border: none;
  height: 20px;
}